<section data-ng-controller="HomeController">
<div  class="jumbotron text-center" >
	<div class="homeImage">
						<h2><span class="first"> WELCOME </span><span class="second"> TO ONLINE OFFICE</span> </h2>
				<h3> <span class= "first"> AN APP THAT CONNECTS YOU</span> <span class="second"> AND YOUR OFFICE ANYWHERE, ANYTIME. </span></h3>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12>

			</div><br><br><br><br><br><br><br>
		</div>
		<br>
		<div class="row">
			<p class="lead">
			</p>
		</div>
		<div class="row">
			<p>
	
			</p><br><br><br>
		</div>
	</div>
</div>
	
</section>
