<section data-ng-controller="HomeController">
<div  class="jumbotron text-center" >
	<div class="homeImage">
			<span class="second"><h2> WELCOME TO ONLINE OFFICE</span> </h2>
			<h3> AN APP THAT CONNECTS YOU AND YOUR OFFICE ANYWHERE, ANYTIME. </h3></span>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

			</div><br><br><br><br><br><br><br>
		</div>
		<br>
		<div class="row">
			<p class="lead">
			</p>
		</div>
		<div class="row">
			<p>
	
			</p><br><br><br>
		</div>
	</div>
</div>
	
</section>
