<section data-ng-controller="HomeController">
<div  class="jumbotron text-center" >
	<div class="homeImage">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
<!-- 				<img alt="Online Office" class="img-responsive text-center" src="modules/core/img/brand/7.png" /> -->
			</div><br><br><br><br><br><br><br>
		</div>
		<br>
		<div class="row">
			<p class="lead">
			</p>
		</div>
		<div class="row">
			<p>
	
			</p><br><br><br>
		</div>
	</div>
</div>
	
</section>
