
<section class="row" data-ng-controller="AuthenticationController">

	<div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 login-form-bg">
			<h3 class="text-center">Sign Up New Staff</h3>
			<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>

				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger">
						<div class="alert alert-danger" role="alert">
							<strong data-ng-bind="error"></strong>
						</div>					
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
								@
						</span>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-user"></i>								
						</span>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>								
						</span>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-home"></i>								
						</span>
					<TEXTAREA id="address" name="address" class="form-control" data-ng-model="credentials.address" placeholder="Address"></TEXTAREA>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-earphone"></i>								
						</span>
					<input type="text" id="phoneNumber" name="phoneNumber" class="form-control" data-ng-model="credentials.phoneNumber" placeholder="Phone Number">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
								^
						</span>
					<input type="text" id="position" name="position" class="form-control" data-ng-model="credentials.position" placeholder="Position">
					</div>
				</div>
<!-- 				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
								#
						</span>
					<input type="text" id="salary" name="salary" class="form-control" data-ng-model="credentials.salary" placeholder="salary">
					</div>
				</div> -->
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>								
						</span>
					<input type="password" id="adminKey" name="adminKey" class="form-control" data-ng-model="credentials.adminKey" placeholder="Authentication Key">
					</div>
				</div>				

				<div class="form-group"> <label for="user">Type of Account:&nbsp;</label>
         			<label for = "user">User</label>
         			<input type = "radio" name = "user" id = "user" value = "false"  data-ng-model="credentials.isAdmin"  /> 
         			<label for = "admin">Admin</label>
         			<input type = "radio" name = "user" id = "admin" value = "true"  data-ng-model="credentials.isAdmin" /> 
          		</div>

				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-success btn-block">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>

			</fieldset>
</section>